<a href="https://colab.research.google.com/github/e-aditi/self-assigned-mini-project-1/blob/master/cleaning_the_data_and_uploading_it_to_drive_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
path = '/content/covid_data.csv'
import pandas as pd
improve_data=pd.read_csv(path)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
improve_data

         s.no     sex  C_pos  C_sym  ...  diabetes   hw  risk  Unnamed: 10
0         NaN    male    0.0    0.0  ...       0.0  0.0  0.09          NaN
1         NaN    male    0.0    0.0  ...       1.0  0.0  0.09          NaN
2         NaN  female    0.0    0.0  ...       0.0  0.0  0.09          NaN
3         NaN    male    0.0    0.0  ...       1.0  0.0  0.09          NaN
4         NaN  female    0.0    0.0  ...       0.0  0.0  0.09          NaN
...       ...     ...    ...    ...  ...       ...  ...   ...          ...
1048570   NaN     NaN    NaN    NaN  ...       NaN  NaN  0.00          NaN
1048571   NaN     NaN    NaN    NaN  ...       NaN  NaN  0.00          NaN
1048572   NaN     NaN    NaN    NaN  ...       NaN  NaN  0.00          NaN
1048573   NaN     NaN    NaN    NaN  ...       NaN  NaN  0.00          NaN
1048574   NaN     NaN    NaN    NaN  ...       NaN  NaN  0.00          NaN

[1048575 rows x 11 columns]

In [ ]:
improve_data.drop(["s.no","Unnamed: 10"],axis=1,inplace=True)

In [ ]:
improve_data.head()

In [ ]:
sex = pd.get_dummies(improve_data['sex'],drop_first=True)
sex

         male  other  undefined
0           1      0          0
1           1      0          0
2           0      0          0
3           1      0          0
4           0      0          0
...       ...    ...        ...
1048570     0      0          0
1048571     0      0          0
1048572     0      0          0
1048573     0      0          0
1048574     0      0          0

[1048575 rows x 3 columns]

In [ ]:
sex.drop(["other","undefined"],axis=1,inplace=True)

In [ ]:
sex.head()

   male
0     1
1     1
2     0
3     1
4     0

In [ ]:
improve_data = pd.concat([improve_data,sex],axis=1)
improve_data.drop(["sex"],axis=1,inplace=True)
improve_data.head()

   C_pos  C_sym  C_con  asthma  lung_d  diabetes   hw  risk  male
0    0.0    0.0    0.0     0.0     0.0       0.0  0.0  0.09     1
1    0.0    0.0    0.0     0.0     1.0       1.0  0.0  0.09     1
2    0.0    0.0    0.0     0.0     0.0       0.0  0.0  0.09     0
3    0.0    0.0    0.0     0.0     0.0       1.0  0.0  0.09     1
4    0.0    0.0    0.0     0.0     0.0       0.0  0.0  0.09     0

In [ ]:
improve_data[improve_data <= 0.9] = 0
improve_data.head()

   C_pos  C_sym  C_con  asthma  lung_d  diabetes   hw  risk  male
0    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     1
1    0.0    0.0    0.0     0.0     1.0       1.0  0.0   0.0     1
2    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     0
3    0.0    0.0    0.0     0.0     0.0       1.0  0.0   0.0     1
4    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     0

In [ ]:
improve_data[improve_data>0.9]=1
improve_data.head()

   C_pos  C_sym  C_con  asthma  lung_d  diabetes   hw  risk  male
0    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     1
1    0.0    0.0    0.0     0.0     1.0       1.0  0.0   0.0     1
2    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     0
3    0.0    0.0    0.0     0.0     0.0       1.0  0.0   0.0     1
4    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     0

In [ ]:
improve_data.isnull().sum()

C_pos       342242
C_sym       342242
C_con       342242
asthma      342242
lung_d      342242
diabetes    342242
hw          342242
risk             0
male             0
dtype: int64

In [ ]:
zer=0
improve_data['C_pos'].fillna(zer,inplace=True)
improve_data.isnull().sum()

C_pos       0
C_sym       0
C_con       0
asthma      0
lung_d      0
diabetes    0
hw          0
risk        0
male        0
dtype: int64

In [ ]:
improve_data.tail()

         C_pos  C_sym  C_con  asthma  lung_d  diabetes   hw  risk  male
1048570    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     0
1048571    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     0
1048572    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     0
1048573    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     0
1048574    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     0

In [ ]:
# Import Drive API and authenticate.
from google.colab import drive

# Mount your Drive to the Colab VM.
drive.mount('/gdrive')

# Write the DataFrame to CSV file.
with open('/gdrive/My Drive/foo.csv', 'w') as f:
  improve_data.to_csv(f)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive