<a href="https://colab.research.google.com/github/e-aditi/hello-world/blob/master/covid_19_risk_calc_without_clean_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
path='/content/covid_data.csv'
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sec_data=pd.read_csv(path)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
sec_data.head()

   s.no     sex  C_pos  C_sym  C_con  ...  lung_d  diabetes   hw  risk  Unnamed: 10
0   NaN    male    0.0    0.0    0.0  ...     0.0       0.0  0.0  0.09          NaN
1   NaN    male    0.0    0.0    0.0  ...     1.0       1.0  0.0  0.09          NaN
2   NaN  female    0.0    0.0    0.0  ...     0.0       0.0  0.0  0.09          NaN
3   NaN    male    0.0    0.0    0.0  ...     0.0       1.0  0.0  0.09          NaN
4   NaN  female    0.0    0.0    0.0  ...     0.0       0.0  0.0  0.09          NaN

[5 rows x 11 columns]

In [0]:
sec_data.drop(["s.no","Unnamed: 10"],axis=1,inplace=True)

In [0]:
sec_data.head()

      sex  C_pos  C_sym  C_con  asthma  lung_d  diabetes   hw  risk
0    male    0.0    0.0    0.0     0.0     0.0       0.0  0.0  0.09
1    male    0.0    0.0    0.0     0.0     1.0       1.0  0.0  0.09
2  female    0.0    0.0    0.0     0.0     0.0       0.0  0.0  0.09
3    male    0.0    0.0    0.0     0.0     0.0       1.0  0.0  0.09
4  female    0.0    0.0    0.0     0.0     0.0       0.0  0.0  0.09

In [0]:
sex = pd.get_dummies(sec_data['sex'],drop_first=True)
sex.drop(["other","undefined"],axis=1,inplace=True)
sex.head()

   female  male
0       0     1
1       0     1
2       1     0
3       0     1
4       1     0

In [0]:
sex.drop(["female"],axis=1,inplace=True)

In [0]:
sex.head()

   male
0     1
1     1
2     0
3     1
4     0

In [0]:
zer=0
sec_data['risk'].fillna(zer,inplace=True)
sec_data.isnull().sum()

sex         0
C_pos       0
C_sym       0
C_con       0
asthma      0
lung_d      0
diabetes    0
hw          0
risk        0
dtype: int64

In [0]:
sec_data.tail()

           sex  C_pos  C_sym  C_con  asthma  lung_d  diabetes   hw  risk
295301  female    0.0    0.0    0.0     1.0     0.0       0.0  0.0  0.26
295302  female    0.0    0.0    0.0     0.0     0.0       0.0  0.0  0.37
295303  female    0.0    0.0    0.0     0.0     0.0       0.0  0.0  0.51
295304  female    0.0    0.0    0.0     0.0     0.0       0.0  0.0  0.37
295305    fema    0.0    0.0    0.0     0.0     0.0       0.0  0.0  0.00

In [0]:
sec_data = pd.concat([sec_data,sex],axis=1)
sec_data.drop(["sex"],axis=1,inplace=True)
sec_data.head()

   C_pos  C_sym  C_con  asthma  lung_d  diabetes   hw  risk  male
0    0.0    0.0    0.0     0.0     0.0       0.0  0.0  0.09     1
1    0.0    0.0    0.0     0.0     1.0       1.0  0.0  0.09     1
2    0.0    0.0    0.0     0.0     0.0       0.0  0.0  0.09     0
3    0.0    0.0    0.0     0.0     0.0       1.0  0.0  0.09     1
4    0.0    0.0    0.0     0.0     0.0       0.0  0.0  0.09     0

In [0]:
sec_data[sec_data < 0.9] = 0
sec_data.head()

   C_pos  C_sym  C_con  asthma  lung_d  diabetes   hw  risk  male
0    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     1
1    0.0    0.0    0.0     0.0     1.0       1.0  0.0   0.0     1
2    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     0
3    0.0    0.0    0.0     0.0     0.0       1.0  0.0   0.0     1
4    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     0

In [0]:
sec_data.tail()

        C_pos  C_sym  C_con  asthma  lung_d  diabetes   hw  risk  male
295301    0.0    0.0    0.0     1.0     0.0       0.0  0.0   0.0     0
295302    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     0
295303    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     0
295304    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     0
295305    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0     0

In [0]:
sec_data.isnull().sum()

C_pos       0
C_sym       0
C_con       0
asthma      0
lung_d      0
diabetes    0
hw          0
risk        0
male        0
dtype: int64

In [0]:
x = sec_data[["male","C_pos","C_con","asthma","lung_d","diabetes","hw"]]
y = sec_data['risk']

In [0]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.25)

In [0]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [0]:
#### training of model (fitting the model)
model.fit(xtrain,ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
#ytest = actual data, ypred = 
ypred = model.predict(xtest)
ypred

array([0., 0., 0., ..., 0., 0., 0.])

In [0]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest,ypred)
cm

array([[59657,   998],
       [11336,  1836]])

In [0]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(ytest,ypred)
acc

0.8329337505248757