<a href="https://colab.research.google.com/github/e-aditi/hello-world/blob/master/COVID_19_risk_calculator_with_cleaned_data_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
path='/content/foo.csv'
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
first_data= pd.read_csv(path)

In [0]:
first_data.head()

   Unnamed: 0  C_pos  C_sym  C_con  asthma  lung_d  diabetes   hw  risk  male
0           0    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0   1.0
1           1    0.0    0.0    0.0     0.0     1.0       1.0  0.0   0.0   1.0
2           2    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0   0.0
3           3    0.0    0.0    0.0     0.0     0.0       1.0  0.0   0.0   1.0
4           4    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0   0.0

In [0]:
first_data.drop(["Unnamed: 0"],axis=1,inplace=True)

In [0]:
first_data.head()

   C_pos  C_sym  C_con  asthma  lung_d  diabetes   hw  risk  male
0    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0   1.0
1    0.0    0.0    0.0     0.0     1.0       1.0  0.0   0.0   1.0
2    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0   0.0
3    0.0    0.0    0.0     0.0     0.0       1.0  0.0   0.0   1.0
4    0.0    0.0    0.0     0.0     0.0       0.0  0.0   0.0   0.0

In [0]:
first_data.isnull().sum()

C_pos       0
C_sym       0
C_con       0
asthma      0
lung_d      0
diabetes    0
hw          0
risk        0
male        1
dtype: int64

In [0]:
zer=0
first_data['male'].fillna(zer,inplace=True)
first_data.isnull().sum()

C_pos       0
C_sym       0
C_con       0
asthma      0
lung_d      0
diabetes    0
hw          0
risk        0
male        0
dtype: int64

In [0]:
x = first_data[["male","C_pos","C_con","asthma","lung_d","diabetes","hw"]]
y = first_data['risk']

In [0]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.25)

In [0]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [0]:
#### training of model (fitting the model)
model.fit(xtrain,ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
#ytest = actual data, ypred = 
ypred = model.predict(xtest)
ypred

array([0., 0., 0., ..., 0., 0., 0.])

In [0]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest,ypred)
cm

array([[47361,   756],
       [ 8666,  1438]])

In [0]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(ytest,ypred)
acc

0.8381683584960753